div {
    float: left;
    border: solid #000 3px;
    text-align: left;
}

.guess_box {
    height: 245px;
}

#header {
    width: 100%;
    border: 0px;
    height: 50px;
}

#main {
    background-color: gray;
    height: 500px;
}

#clickMe {
    background: #d8b36e;
    padding: 20px;
    text-align: center;
    width: 205px;
    display: block;
    border: 2px solid #000;
}

#picframe {
    background: #d8b36e;
    padding: 20px;
    width: 205px;
    display: none;
    border: 2px solid #000;
}

#picframe img {
    display: none;
}
